body{
    background-color: #7AA095;
    padding: 3vw;
    font-family: 'Oswald', serif;
}

.rest-input {
    display: flex;
    justify-content: center;
}

.rest-output {
    display: flex; 
    flex-flow: wrap;
    padding-top: 3vw;
    justify-content: space-evenly;
}

.card{
    margin: 1vw;
    background-color:  lightcyan;
}

form {
    display: flex;
    flex-direction: column;
    width: 20vw;
    border: 1px solid black;
    background-color: lightgray;
}

input {
    margin: 0.5vh;
}

.form-div {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh;
}

.submit-btn {
    width: 10vw;
}
